* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

form {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-box {
  position: relative;
}

input {
  width: 100%;
  display: block;
  padding: 1em 2em;
  margin-bottom: 2em;
}

textarea {
  width: 100%;
  display: block;
  padding: 1em 2em;
  margin-bottom: 2em;
}

.err-mss {
  color: salmon;
  position: absolute;
  top: 70px;
  left: 0;
}

button[type="submit"] {
  padding: 1em 2em;
}
